<!doctype html>
<html lang="en">
  <head>
    <title>chat-room</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/chat.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- Take that IE -->
    <!--[if IE]>
    <script>
      /* create for ie html5 elements. */
      var e = ("abbr,article,aside,audio,canvas,datalist,details," +
      "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
      "progress,section,time,video").split(',');
      for (var i = 0; i < e.length; i++) {
      document.createElement(e[i]);
      }
    </script>
    <![endif]-->
  </head>
  <body>
    <section id="enter_section"> 
     <form>
       <p class="enter_message"></p>
       <label>enter you name:</label>
       <input type="text" value="" id="mate_name"/>
       <input type="submit" value="go" id="enter_room"/>  
      </form>
    </section>
    <section id="chat_section">
      <header>
	<div id="topic_helper">room topic:</div>
	<input type="text" value="" id="topic" class="opaque"/>
	<div id="mates">
	  <ul>
	  </ul>
	</div>
      </header>
      <section class="chat_list">
	<section id="help" class="message">
	  Wellcome to your brand new chat room. To invite someone give him link to this page.
	</section>
	<ul id="chat">
	</ul>
	<ul id="typers">
	</ul>
	<ul id="errors">
	</ul>
      </section>
      <section id="input_box">
	<input type="text" value="" id="input_line"/>
	<input type="button" value="send" id="send_button" />
      </section>
    </section>
    <secction id="connecting">
      <h1>be patient, i'm connecting to server very far away.</h1>
    </secction>
    <noscript>
      <h1>you have to enable javascipt to use this.</h1>
    </noscript>
  </body>
</html>
