<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>zarkzork chat</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/960.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
    <script type="text/javascript">
      function createRoom(){
      var path="";
      var symbols="abcdefghijklmnopqrtsuvwxyz_01234567890";
      for(var i=0;i<8;i++){
      var index=Math.floor(Math.random()*symbols.length);
      path+=symbols.charAt(index);
      }
      location.pathname='/'+path;
      }
    </script>
    <!--[if IE]>
    <script>
      /* create for ie html5 elements. */
      var e = ("abbr,article,aside,audio,canvas,datalist,details," +
      "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
      "progress,section,time,video").split(',');
      for (var i = 0; i < e.length; i++) {
      document.createElement(e[i]);
      }
    </script>
    <![endif]-->
  </head>
  <body class="container_12">
    <header class="grid_12 main_header">
      <h1 class="grid_6 alpha">
	it's a
	<ul>
	  <li>online</li>
	  <li>html5</li>
	  <li>comet-based</li>
	  <li>zarkzork</li>
	  <li>webchat</li>
	</ul>
      </h1>
      <aside class="grid_6 omega">
	<article>
	  <header>
	    <img src="img/logo.png" id="logo" alt="Comet chat." />
	  </header>
	  <p class="description">
	    Easiest way to create chat room. Push the button and create
	    your room in 0.345 second average. Then give the link to
	    everybody you need in the chat and start talking. Chat uses
	    comet technology to enable live typing, so you do not need
	    to wait while somebody types message, you can see it as
	    person type. No registration. Just press button and share
	    link.
	  </p>
	</article>
	<section id="create_room">
	  <input
	     type="button"
	     value="create room"
	     onclick="createRoom();"
	  />
	</section>
      </aside>
    </header>
    <section id="feature_descriptions" class="grid_12">
      <article class="grid_3 alpha">
	<div class="feature f1">
	  <h2>Livetype</h2>
	  Your mates in the chat see text as you type. You don`t need
	  to wait to know what they are going to say.
	</div>
      </article>
      <article class="grid_3">
	<div class="feature f2">
	  <h2>Comet</h2>
	  Comet brings you speed of lightning. Messages are delivered
	  instantly.
	</div>
      </article>
      <article class="grid_3">
	<div class="feature f3">
	  <h2>Simple</h2>
	  There is no history, rooms are created when
	  you enter them and deleted when you leave. Just chat room
	  with clean and simple interface when you need it.
	</div>
      </article>
      <article class="grid_3 omega">
	<div class="feature f4">
	  <h2>Open source</h2>
	  All <a href="###">source code</a> is here for you. Grab it modify it. Use
	  it. 
	</div>
      </article>
    </section>
    <section id="review" class="grid_12">
	<cite>&#8220;it's truly amazing web service.&#8221;</cite>
	<div class="author">&mdash;zarkzork (author)</div>
    </section>
    <footer class="grid_12">
      <section class="grid_6 alpha">
	To contact me write email to:
	<a href="mailto:zarkzork@gmail.com">zarkzork@gmail.com</a>.
      </section>
      <section class="grid_6 omega">
	links you might be interested:
	<ol>
	  <li>Read <a href="###">blog post</a> about this chat.</li>
	  <li><a href="###">source code</a></li>
	  <li><a href="###">submit</a> a bug</li>
	</ol>
      </section>
    </footer>
  </body>
</html>
