<!doctype html>
<html>
  <head>
    <title>Main interface</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <header>
      <h1 id="topic">tpc</h1>
      <div id="mates">
	<ul>
	  <li>zarkzork</li>
	  <li>wewiorka</li>
	</ul>
      </div>
    </header>
    <section id="chat">
      <ul>
	<li class="message">
	  <span class="from">zarkzork</span>
	  <span class="message_body">Test.</span>
	</li>
	<li class="message">
	  <span class="from">wewiorka</span>
	  <span class="message_body">ack: Test.</span>
	</li>
      </ul>
    </section>
    <section id="input_box">
      <input type="text" value="text" id="input_line"/>
      <input type="button" value="send" id="send_button" />
    </section>
  </body>
</html>
