<!doctype html>
<html>
  <head>
    <title>Main interface</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <header>
      <div id="topic_helper">room topic:</div>
      <input type="text" value="" id="topic" class="opaque"/>
      <div id="mates">
	<ul>
	</ul>
      </div>
    </header>
    <section>
      <ul id="chat">
      </ul>
      <ul id="typers">
      </ul>
    </section>
    <section id="input_box">
      <input type="text" value="text" id="input_line"/>
      <input type="button" value="send" id="send_button" />
    </section>
  </body>
</html>
