/* global */
.container_12{
}

.accent{
    font-family: Georgia,serif;
    font-size: 25px;
}

/* enter the room */
.name_box{
    background-color: #ff0000;
    padding: 10px;
}

.name_box_topic{
    line-height:0.9;
}

#room_enter{
    margin-top: 40px;
}

/* room */
#header{
    background-color: #ff0000;
    height: 10%;
}

#room_link a{
    margin-left: 20px;
}

#mates{
    list-style: none;
}
#mates li{
    display: inline;
}

#chat{
    overflow:auto;
    height:85%;
}

#footer{
    height: 5%;
    background-color: #ff0000;
}

#footer input{
    width: 100%;
}

/* chatroom style */
#room_enter, #room{
    display:none;
}