/* html5 stuff */
section, article, aside, header, footer, nav, dialog, figure { display:block; }


/* input style */
input{
    background-color: transparent;
    color: inherit;
    font: inherit;
    border: 1px solid #fff;
    -moz-border-radius: 4px;
}

a{
    color:inherit;
    font-weight: bold;
}

ol{
    list-style: circle inside;
    margin-left: 20px;
}

body{
    background: #666 url('../img/back.png') no-repeat 560px -100px;
    color: #fff;
    font: 16px/1.2 Verdana,'Trebuchet MS',Arial,sans-serif;
}

.main_header{
    margin-top: 120px;
    margin-bottom: 60px;
}

h1{
    width:50%;
    font-size: 65px;
    font-family: Georgia,serif;
    font-variant: small-caps;
    line-height:0.8;
}

h2, .author, #create_room{
    font-size: 25px;
    font-family: Georgia,serif;
}

.description{
    background-color: #333;
    padding: 20px;
    -moz-border-radius: 10px;
}

.feature{
    margin-top: 20px;
}

.feature h2{
    margin-bottom: 10px;
}

#feature_descriptions{
    margin-top: 120px;
}

cite{
    font-style: italic;
    font-family: Georgia,serif;
    font-size: 35px;
    line-height:0.9;
}

/* little text box with reviews */
#review{
    margin-top: 120px;
    text-align: center;
}

#review .author{
    text-align: right;
}
/* aside specific styles */
aside header{
    text-align: center;
}

#create_room{
    margin-top: 20px;
    text-align: center;
}

footer{
    margin-top:180px;
    margin-bottom: 60px;
}