body {
	font: 16px/1.5 Verdana,'Trebuchet MS',Arial,sans-serif;
}

/*a:focus {
	outline: 1px dotted invert;
}
*/
hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

small {
    font-size: 10px;
    }

h1 {
	font-size: 35px;
        font-family: Georgia,serif;
}

h2 {    
        font-family: Georgia,serif;
	font-size: 25px;
}

h3 {
	font-size: 21px;
        font-family: Georgia,serif;
}

h4 {
	font-size: 19px;
        font-family: Georgia,serif;
}

h5 {
	font-size: 17px;
        font-family: Georgia,serif;
}

h6 {
	font-size: 15px;
        font-family: Georgia,serif;
}

ol {
	list-style: decimal;
}

ul {
	list-style: square;
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
table,
address,
fieldset {
	margin-bottom: 20px;
}